[2019-05-08 22:00] worleywa7 opened #5 "FunctionsStartup is not being called, causing function dependency resolution to fail."
We downloaded the sample project, put a break point on             builder.Services.AddScoped<IGreeter, SampleGreeter>(); expecting it to be called when the runtime started and discovered functions. Unfortunately it did no, so we attempted to invoke the function directly to see if the runtime would call the FunctionStartup class upon first function invocation. Unfortunately it did not and both tim

[2019-05-09 00:44] balivo opened #6 "Microsoft.Azure.Functions.Extensions NuGet "overrides" WebJobs.Extensions?"
Just asking...

Is "Microsoft.Azure.WebJobs.Extensions" moving to "Microsoft.Azure.Functions.Extensions"?

Tks.

[2019-05-09 08:35] michaeljdresser opened #7 "'IServiceCollection' does not contain a definition for 'AddHttpClient'"
Documentation and Build video show 'AddHttpClient' being used, but this doesn't  appear to be defined in in the 'IServiceCollection'.

![image](https://user-images.githubusercontent.com/28652742/57439334-b498e000-723d-11e9-8231-b98109c39885.png)

Thanks

Michael.

[2019-05-09 11:56] bentmar commented on #5
https://github.com/Azure/azure-functions-dotnet-extensions/pull/8
heres the fix

[2019-05-09 14:07] rasmuschristensen commented on #7
@michaeljdresser You need Nuget Microsoft.Extensions.Http

[2019-05-09 15:18] worleywa7 commented on #5
Thank you very much for your time, we got it working!

[2019-05-10 18:45] AdrianPell opened #9 "Support for other DI containers, e.g. AutoFac"
My functions app is part of a wider solution that already uses Autofac for dependency injection … and was using Autofac DI through one of the earlier workarounds.

How would I set about using Autofac from the new supported DI structure? Other places that use Microsoft.Extensions.DependencyInjection.Abstractions seems to support switching the DI container.

[2019-05-13 14:02] DibranMulder opened #10 "Inject ILogger in a service."
Is it somehow possible to inject the `ILogger` into the constructor of a Service? I rather not pass on the instance, especially not when I have a multi layer (service / repository) pattern.

[2019-05-15 14:45] bentmar commented on #5
@worleywa7  Just curious, have you tried publishing a function with DI to azure?

Mine works locally, but crashes instantly in the cloud with a DependencyIncetion error..

[2019-05-16 11:23] bentmar commented on #5
Okay, let the randomness begin..

1.0.27 and 1.0.28 doesnt work in azure for dependency resolution, BUT 1.026 does.

And when downgradig to 1.0.26 it suddenly works locally aswell!

[2019-05-16 15:17] worleywa7 commented on #5
Looks like we're getting the same issue as well; wasn't readily apparent until now. We're going to downgrade as well; see what we come up with.

[2019-05-16 15:22] worleywa7 commented on #5
I downgraded back to 1.0.26 and things returned to throwing the DI errors...I'm going to try 1.0.28.

[2019-05-16 15:43] worleywa7 commented on #5
Looks like we're back to the drawing board:

'The function runtime is unable to start. Towar.Cloud.Functions: Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()'.
Session Id: 37b85485f2624771a77400e47d07ef45

Timestamp: 2019-05-16T15:13:38.648Z'

[2019-05-16 16:03] worleywa7 commented on #5
So we did what you said at first, and it worked; that's why I closed the ticket.. I saw exactly what I wanted to see in my project. However, since then, I added nugets from two .NET Standard libraries, injected a dependency from one of those libraries, and have created functions that rely on this DIs.

[2019-05-16 22:11] tstpierre opened #11 "Sample for using ConfigurationBuilder as well?"
How do you handle the ConfigurationBuilder with this DI approach now that the function itself is not static, but a class getting constructor injection?

`
            var config = new ConfigurationBuilder()
                .SetBasePath(context.FunctionAppDirectory)
                .AddJsonFile("local.settings.json", optional: true, reloadOnChange: true)
                .AddEnvironmentVariables()

[2019-05-17 11:07] antichaosdb commented on #5
I tried the scopes sample - no other references.  As provided with 1.0.26 it failed locally and on Azure.  With Dependencies updated (1.0.28) it runs locally but when deployed to Azure I get :
Unable to resolve service for type 'Microsoft.Azure.Functions.Samples.DependencyInjectionScopes.MyServiceA' while attempting to activate 'Microsoft.Azure.Functions.Samples.DependencyInjectionScopes.SampleFun

[2019-05-17 14:16] worleywa7 commented on #5
So what it ended up being was, for me at least, there was a dependency that I forgot to inject. There was a single "Object cannot be null" line in a log on the azure portal that seemed to be the issue. We're back to running our functions on 1.0.28 in the Cloud.

[2019-05-18 07:25] jedjohan commented on #5
The only way to get DI to work for me when deployed to Azure is using 1.0.26.

1.0.26, 1.0.27, 1.0.28 all works fine local

[2019-05-20 18:34] eliashdezr commented on #5
`1.0.26` doesn't work locally for me, I'm testing it with the sample project.

[2019-05-21 19:43] espray opened #12 "Add logging services -- AddDebug"
Not able to add logger.  Added the Microsoft.Extensions.Logging.Debug NuGet. When adding the Debug Logging the host ends up throwing a Null Reference exception.

[code]

[2019-05-22 13:01] simonbu11 commented on #11
@tstpierre I have got it working doing the following:

`builder.Services.AddSingleton<IConfiguration>(provider => new ConfigurationBuilder()
                .AddJsonFile("local.settings.json", optional: true, reloadOnChange: true)
                .AddEnvironmentVariables()
                .Build());`

Though not sure if there is a more "official" way of doing it

[2019-05-22 13:08] simonbu11 opened #13 "FunctionsStartup bypasses host.json"
I am just updating a small function app that was created with the VS 2017 template that uses static functions. I had updated my host.json to remove the `api` prefix:

`"extensions": {
    "http": {
      "routePrefix": ""
    }
  }`

As soon as the Startup class is annotated with `[assembly: FunctionsStartup(typeof(MyNamespace.Startup))]` it ignores this config and the prefix is added.

Should hos

[2019-05-23 12:43] exhesham opened #14 "Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type"
I am receiving the next error when running the `Basic` Demo:
[code]

What am I missing?

[2019-05-23 13:47] erik-neumann commented on #13
Same issue here, but with EventHub extension configuration in host.json. I see the IOptions<EventHubOptions> service resolving with the correct values on Startup.cs, but the Trigger actually uses defaults.

[2019-05-24 21:18] DaftDeveloper opened #15 "Scoped Services Instantiated Multiple Times on Single Function Run"
When registering a scoped service with an implementationFactory set, multiple instances of the service are being created per run of a function. To recreate this issue, I used the following Startup in a sample project:

[code]

Azure Function Code

[code]

Services:

[code]

Results (all values should be 2):

[code]
I also replicated the service registration in an ASP.NET Core project to verify tha

[2019-06-03 09:58] Sbou opened #16 "Multiple Azure functions ?"
hello,

I have 4 azure functions in the same project, so they share the same host.
I wanted to use dependency injection to manage services but I realize that when you specify singleton then the instance is shared between all Azure functions.

Is there a level of isolation that would allow to have a singleton by Azure function without being forced to use the "scoped" level that is by invocation?

T

[2019-06-03 13:29] benspeth opened #17 "Load custom configuration file at startup"
I have a custom configuration file called appSettings.json and,
now that we are using dependency injection, I want to load it at startup.

before dependency injection my code looked like this:
[code]

now I want to do the same in startup, but I don't have access to the `ExecutionContext`
[code]

I tried many ways to retrieve the `FunctionAppDirectory` property (mainly through environment variables

[2019-06-04 09:32] benspeth commented on #17
I found a working solution by using `Assembly.GetExecutingAssembly()`:
[code]

I'm wondering something, is it safe to assume that the root directory of any function app will always be "D:\home\site\wwwroot" ?

Could it be considered safe to put it as a const string in the code ?

[2019-06-04 16:03] antichaosdb commented on #5
Finally got this working.  According to [(https://github.com/Azure/azure-functions-host/issues/3386#issuecomment-497492442)]  the suggestion to add a reference to ExtensionsMetadataGenerator is bad.  Remove this reference if you have it.

[2019-06-04 16:40] arkiaconsulting commented on #11
@tstpierre I use an extension method like this one:
[code]

[2019-06-05 13:37] danhamlin commented on #17
I've gotten the app directory in the Configure method like so:
[code]
This works both locally and deployed to Azure.

[2019-06-05 15:37] ryanspletzer commented on #10
Please yes.

[2019-06-06 07:45] Patrickkk opened #18 "Cryptic error messages when using FunctionsStartup DI if DI fails."
When there is an error with the DI setup I am getting a verry cryptic error message that is not really helping to find the cause of actual issue.

` Anonymously Hosted DynamicMethods Assembly: Object reference not set to an instance of an object.`
If I wrap repro code in a custom serviceprovider I i can see the actual issue:
`Microsoft.Extensions.DependencyInjection: Unable to resolve service for

[2019-06-06 13:22] kemmis commented on #10
+1

Does it work if we accept an ILoggerFactory in the constructors instead?

[2019-06-06 13:59] ryanspletzer commented on #10
It looks like it will pass in an `ILoggerFactory` actually!

![image](https://user-images.githubusercontent.com/1481108/59037766-eb174a00-883f-11e9-93bf-dc58d8b13df3.png)

However in order to get the created logger to output to the functions host I had to adjust the category name to look like `Function.<FunctionName>.User` -- I found this category name by inspecting the ILogger that's provided in

[2019-06-06 14:36] ryanspletzer commented on #10
Ok I found `Microsoft.Azure.WebJobs.Logging.LogCategories` one of which I tested `Microsoft.Azure.WebJobs.Logging.LogCategories.Singleton` which is the string "Host.Singleton" -- this string is independent of what function execution you're in and will output logs to the function host.

![image](https://user-images.githubusercontent.com/1481108/59041364-6e3b9e80-8846-11e9-90c2-c8c20a612da9.png)

It

[2019-06-06 14:44] ryanspletzer commented on #10
More info in comments in the code on LogCategories here:

https://github.com/Azure/azure-webjobs-sdk/blob/b798412ad74ba97cf2d85487ae8479f277bdd85c/src/Microsoft.Azure.WebJobs.Host/Loggers/Logger/Constants/LogCategories.cs

[2019-06-06 15:20] ryanspletzer commented on #10
I think Host.Singleton is more to do with the singleton attribute which appears to be related to durable functions.

https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#singleton-attribute.

For now I've decided switched to this below, with a category that I create based on function name when I'm in the scope of a function itself (to be in line with the `ILogger` that was passed

[2019-06-11 14:32] APIWT commented on #15
I am having the same issue. Could we please get some feedback on this?

[2019-06-11 14:46] APIWT commented on #13
This might be related: https://github.com/Azure/azure-webjobs-sdk/issues/2223

[2019-06-11 14:58] APIWT commented on #17
Both solutions here are very clever. Thank you!

[2019-06-11 15:01] meixger commented on #15
seems related to https://github.com/Azure/azure-functions-host/issues/3399

[2019-06-13 11:55] ashkansirous opened #19 "Problem with referencing one scoped service in another"
I have a Entity framework DatabaseContext that I like to add also as my DatabaseContextBase.
 DatabaseContext inherits from DatabaseContextBase and  DatabaseContextBase inherits from DbContext.

Here is how I've tried it:

In startup:

[code]
Then in the function I use those 2:

[code]

The first one works fine but the second one fails with this exception:

[2019-06-13 15:25] ashkansirous commented on #19
Just to explain more, my work around right now is like this:
[code]
And it works fine. The

[2019-06-19 17:58] brettsam commented on #10
Use `ILogger<T>` and you should get your logger injected. You'll need to explicitly allow your category (the full -- or even partial -- type name of `T`) through the filter due to: https://github.com/Azure/azure-functions-host/issues/4345

`ILogger` itself isn't supported (by default) in .NET Core DI.

Some updated comments/links with more details here: https://github.com/Azure/azure-functions-hos

[2019-06-20 00:35] fabiocav commented on #10
Closing this as the comment above addresses the issue.

[2019-06-20 00:35] #10 closed

[2019-06-20 00:36] ryanspletzer commented on #10
Thank you for the guidance @brettsam!

[2019-06-24 05:56] avoxm opened #20 "Dependency injection based on trigger parameter"
My function is part of a multi-tenant solution so it needs to connect to multiple databases based on the Message headers from Even Bus. So in order to inject a proper `Repository` class I need to get the `tenant id` from the  message. Is there a way to resolve a dependence  by accessing a `Message` before function execution.

Here's a sample to visualize the problem :

[code]

So I am looking to s

[2019-07-02 18:15] ggirard07 opened #21 "Microsoft.Azure.Functions.Extensions should requires same package version as webjobs SDK"
Right now this extension requires `Microsoft.Extensions.DependencyInjection` >= `2.2.0`, this prevent using a dependency which has a requirements for version 2.1.0 of the same package.
Currently the webjobs SDK has dependencies to versions `2.1.0` for `Microsoft.Extensions.*` packages.

Is this dependency to `2.2.0` a real requirement as the webjobs SDK does not even require it?

[2019-07-03 00:29] jeffhollan opened #22 "Add telemetry for DI usage"
Would be good to understand (in priority order):

- How many people are using DI in their function
- The types of services they are registering (ILogger? ISomeService?)

/cc @fabiocav not sure if this is the best repo for this but adding here

[2019-07-03 12:28] vidarw opened #23 "DependencyInjection and Application Insights"
Currently using the magic `TelemetryConfiguration` injection described here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#version-2x-3

How do construct the same telemetry client using the `IFunctionHostBuilder`?

[2019-07-09 07:15] PureKrome opened #24 "Request: a simple README.MD for the "Scopes" example, explaining what is EXPECTED when people hit the HTTP trigger"
:wave: Heya - just looking at the "Scopes" sample provided and I'm trying to understand the difference between `transient` and `scoped` life's _with respect to Azure Functions_. I totally grok it, with respect to an ASP.NET Core app + Request/Responses, etc.

It would be really nice if we could have a `README.MD` added to the scopes folder with example instructions & output. For example, the code

[2019-07-17 11:19] LarsKemmann commented on #23
I started out asking the same question over in the main Functions host repo but this is where the question belongs. Hoping to get some help...

[2019-07-18 13:45] brettsam commented on #13
Can you share your full `host.json` here? Also, what version of `Microsoft.NET.Sdk.Functions` are you using? Can you move to the latest and try again?

[2019-07-18 14:01] simonbu11 commented on #13
@brettsam I think I might have been using <1.0.28, as I have just created a new project (that targets 1.0.28) and it works OK

[2019-07-18 14:32] brettsam commented on #13
Okay, great -- even 1.0.29 has some good bug fixes around extension discovery. I'm going to go ahead and close, but feel free to re-open if you see it again.

[2019-07-18 14:32] #13 closed

[2019-07-20 09:41] bluephoton opened #25 "I don't see releases in this repo!"
The NuGet here: https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/
references this repo as the source for 'Microsoft.Azure.Functions.Extensions.dll' which I see loaded in my function app.

I would expect to see specific release with the exact source used for this NuGet - or at least a branch for this release. I can't this here.

How do I get exact source for assembly loaded in my

[2019-07-24 07:17] ywx105 opened #26 "'IServiceCollection' does not contain a definition for 'AddDbContext'"
'AddDbContext' extension function is not being used.

[2019-07-31 13:53] Ohmniox commented on #14
Facing the same issue, Any help?

[2019-08-07 23:44] ashkansirous commented on #19
Any news on this one?
No one even looked at it for 2 months

[2019-08-11 12:51] nickverschueren opened #27 "Dependencies of scoped services are resolved from the root container and become singletons"
We came across this issue when using MediatR within a function.
The issue seems to be that when you resolve a service from a scope and the service that service itself has dependencies, then those dependencies are not being resolved from the scope, as would be expected, but are being resolved from the root container. That turns those dependencies into singletons.

The following code sample illustra

[2019-08-14 17:24] t-l-k commented on #19
I mean this is pretty serious.

Couldn't quite believe my eyes that I had `DbContext`'s being shared across invocations of functions.

I'm amazed it worked this far (about 4.5 weeks development), but now we have a mixed bag of integration tests against `func.exe`, its falling over hard because of shared state between invocations, which should be scoped.

😭 😭 😭

[2019-08-20 16:58] shersh opened #28 "Strange behaviour in injected interfaces"
We have very streange behaviour when using injected service.
As described here https://github.com/dotnet/orleans/issues/5878

What it can be ?

[2019-09-20 19:52] ravishetty9 opened #29 "get_Services method not found"
I am trying to add DI to our existing azure functions(.Net Core 2.0). Followed the steps mentioned in this link - https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

However, I am getting the following error. Are there any other packages that I need to install or update?

System.MissingMethodException: Method not found: 'Microsoft.Extensions.DependencyInje

[2019-09-25 05:52] usmanibnesadiq commented on #29
Getting the same error but in my case the function app is targeting .NET Core 3.0

[2019-09-25 06:57] MrAdam commented on #29
Same issue for me.

[2019-09-26 04:40] bpellkvist commented on #29
My app for my web site also already targets ASP.NET Core 3.0 and I get the exact same error message when starting up the Azure Functions. I tried setting a break point inside the Startup.Configure function to figure out why this happens. The breakpoint wasn't hit! That is probably also the reason why the get_Services() call later fails. Maybe there is an out of the box solution for dependency inje

[2019-09-26 15:22] mswietlicki commented on #29
Looks like this error is connected to Microsoft.Extensions.DependencyInjection 3.0.0.

[2019-09-26 18:19] bpellkvist commented on #29
It may just be a matter of figuring out exactly which packages with which versions are needed to get this to work.  After some experimenting I gave up for now. It seems to be an undocumented breaking change...

[2019-09-26 21:26] jonathanjuras commented on #29
If you look at the Azure CLI package references (found at `%LocalAppData%\AzureFunctionsTools\Releases\{version}\cli` on Windows), you can see that the version of  `Microsoft.Extensions.DependencyInjection.dll` is still <= 2.2.

Since this is the DLL that is used by the runtime to create and inject the `IServiceProvider` that is part of the `IWebHostBuilder` (as seen [here](https://github.com/Azur

[2019-09-26 22:03] bpellkvist commented on #29
@jonathanjuras Thanks, that is roughly what I assumed was going on. I hoped to get it working by using some older Nuget packages, but then I can also forget about the advantages of moving to ASP.NET Core 3.0 in my web app as I share some code between the web app and the Azure Functions. I hope for a working preview version soon, so that I can continue using the Azure Functions as they worked with

[2019-09-27 09:53] mswietlicki commented on #29
So I tried to test what exactly is wrong and find out something really strange:

[code]

Returns:

[code]

Listing assemblies:
` AppDomain.CurrentDomain.GetAssemblies() `
also returns Microsoft.Extensions.DependencyInjection.Abstractions loaded twice.

So Azure Function Runtime is injecting packages 2.2 regardless of referenced 3.0 and that is why it's causing run-time type mismatch and Method Not

[2019-09-30 19:21] axm commented on #29
Getting the same error. Azure Functions is essentially incompatible with .NET Core 3.0

Please prioritize.

[2019-10-01 13:10] DrBarnabus commented on #29
I am also facing this issue, is there anything that can be done about it or am I going to have to wait until Azure Functions is updated to Microsoft.Extensions.DependencyInjection.Abstractions 3.0.0?

[2019-10-04 01:33] julielerman commented on #29
oddly I'm getting this on a mac but not on 2 windows machines. I'm runing Azure Functions with the Durable Functions preview 2.2.0-beta.

[2019-10-04 11:37] bpellkvist commented on #29
It didn't solve my problem. I just need to get the dependency injection to work as described in the beginning of the thread. Would you please share with us more details on exactly which libraries you are including and your configuration settings?

[2019-10-07 17:56] ErikAndreas commented on #14
Me too: Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type [redacted] while attempting to activate ...

Any input?
Azure Functions Core Tools (2.7.1633 Commit hash: 45c7d86a3bbc9ed0a80a8f4199aa7ea80ccfb24e)
Function Runtime Version: 2.0.12673.0

[2019-10-07 19:30] ErikAndreas commented on #14
@fabiocav is this same issue as e.g https://github.com/Azure/azure-functions-host/issues/4939, https://github.com/Azure/azure-functions-host/issues/4914 and or https://github.com/Azure/azure-functions-host/issues/3399? A bit hard to follow and what's really related (type of DI and or service lifetime) as well as what is fixed (by 1.0.30)?

AddHttpClient and AddDbContext (EF) seems to work just fin

[2019-10-08 04:37] exhesham commented on #14
I moved to AWS Lambda due to too much problems with Azure.

[2019-10-08 04:37] #14 closed

[2019-10-08 18:16] ErikAndreas commented on #5
1.0.29 not working, same issue as described in https://github.com/Azure/azure-functions-dotnet-extensions/issues/14 (closed due to author moving on to Aws Lambda...)

Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type '...' while attempting to activate '...'

[2019-10-09 18:46] theleprechaun33 commented on #29
By reading this https://github.com/Azure/app-service-announcements-discussions/issues/115 I figured out that if you reference any .NET Core 3 packages in your function project (event if the project is .NET Core 3) dependency injection will not work and you will have problems. When I removed my 3.0 assemblies the function started working again.

[2019-10-12 03:35] joshdcar commented on #29
@bpellkvist I ran into this issue a short time ago and I can confirm (for me) it was caused by the latest version of Microsoft.Extensions.Http 3.x causing me grief. I was specifically adding the Http Factor Service (AddHtpClient).

Seeing some 3.x version issues in general I ran dotnet add package Microsoft.Extensions.Http -v 2.20 instead of going with the latest (3.x) and my issue was resolved (s

[2019-10-14 01:19] jamie-tillman commented on #29
I'm having this issue, as well, and my project has no "3.0" assemblies referenced as far as I can tell.  I do have a custom assembly referenced which targets 3.0, as does the Function project itself, but the comments above seem to imply that shouldn't be the problem.

Any ideas where to look?  Also, how does one determine whether a reference is a ".NET Core 3 package", anyway?

[2019-10-16 17:06] ranciaro opened #30 "Get ExecutionContext.InvocationId in startup (Azure function V2)"
Currently I can retrieve ExecutionContext inside the function method, like this:
`public async Task <IActionResult> Run ([HttpTrigger (AuthorizationLevel.Anonymous, "post", Route = null)], ILogger log, ExecutionContext context)`

Is there any way I can retrieve ExecutionContext from my function startup?

[2019-10-16 17:08] fabiocav commented on #30
@ranciaro we're working on a first class way do do that in the startup. Can you just confirm which property in the `ExecutionContext` you're interested in using in your Startup class? The initial design is primarily focused on exposing the application root directory to make loading dependencies a bit simpler.

[2019-10-16 17:19] ranciaro commented on #30
@fabiocav The property that i need is just the InvocationId

[2019-10-16 18:33] paulbatum commented on #29
@jamie-tillman I think you might have misinterpreted some of the above comments. Functions V2 currently runs on .NET Core 2.2, so you'll likely run into problems if your function app code is targeting .NET Core 3.0 (or referencing assemblies that target .NET Core 3.0).

As folks on this issue have already referenced, there is a Functions 3.x release coming that will allow you to target .NET Core 3

[2019-10-16 18:40] fabiocav commented on #29
As @paulbatum mentioned above, Azure Functions 2.0 is not compatible with .NET Core 3.0 (runtime and dependencies)

We will have a preview that will bring .NET Core 3.0 deployed very soon. Please keep an eye on https://github.com/Azure/app-service-announcements/issues/200 for updates.

[2019-10-16 19:00] jamie-tillman commented on #29
Thanks for the suggestion, but I'm not sure yet that I did misinterpret.  Some folks in the comments made vague references to identifying any ".NET Core 3.0 packages" and checking my project, all I could see documented were the specific versions of the Nuget packages themselves, with no specifics as to which .NET Core version they targeted.  This left me with advice I couldn't follow, hence the qu

[2019-10-17 05:43] itorian commented on #5
That's totally fine for me on development and production. Here's project configurations:

[code]

Notice i'm using, function v2, netcoreapp3.0, Sdk.Function 1.0.29 and Function.Extension 1.0.0.

Sample project here https://github.com/itorian/AzureFunctionDISample

[2019-10-17 23:09] robertracz commented on #5
Same here... Happening when I reference

`<PackageReference Include="Microsoft.Extensions.Http" Version="3.0.0" />`

[2019-10-18 15:37] danejur commented on #29
Update for anyone following this: The preview for Azure Functions 3 is [out now](https://dev.to/azure/develop-azure-functions-using-net-core-3-0-gcm) and it resolves this issue. Here's to hoping that the production release happens quickly!

[2019-10-18 20:11] paulbatum commented on #29
@danejur thanks for verifying this so quickly! Closing this as resolved.

[2019-10-18 20:11] #29 closed

[2019-10-24 20:22] dacris commented on #5
I had the same issue today. I removed some Nuget packages and added a namespace declaration to my Startup.cs and the problem was fixed. Using SDK 1.0.29. Not sure if this matters, but check if your Startup class has a namespace.

[2019-10-24 22:44] apavelm commented on #5
At this moment the solution is only to downgrade to .NET Core 2.2

[2019-11-26 19:19] srozga commented on #9
Our ASP.Net Core application is composed of multiple Autofac Modules. We have a new requirement to create a Function that uses much of the same code. Would be easier to manage dependencies by reusing some of the existing Autofac modules. +1 on this one.

[2019-12-01 15:20] marcduiker opened #31 "Using GitHub Releases"
Hi @fabiocav, would you consider making [GitHub releases](https://help.github.com/en/github/administering-a-repository/creating-releases) for this extension? Then the [Azure Functions Twitterbot](https://twitter.com/az_func_updates) can tweet when new releases of this extension will become available.

Thanks! :)
Marc

[2019-12-03 04:36] eliashdezr commented on #5
I'm on the same boat, these combinations of NuGet versions are not working:

[code]
Error is
` Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type`

[2019-12-05 08:33] arkiaconsulting commented on #5
[code]
is out.

Still
[code]

[2019-12-05 15:16] eliashdezr commented on #5
Is the runtime version still on preview?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions

[2019-12-05 18:50] FrankGagnon opened #32 "Method not foundMicrosoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services() since .Net Core 3.1 release"
Hi,

When updating our nuget packages like
Microsoft.Extensions.DependencyInjection.Abstractions
and
Microsoft.Extensions.Configuration
to version 3.1.0 released with .Net Core 3.1 yesterday, the Function host fails to start with the following error : Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHo

[2019-12-05 18:53] arkiaconsulting commented on #5
Tested locally with v3 instead of v3-preview with no success (No function runtime available)

[2019-12-05 22:43] eliashdezr commented on #5
And this error still persist:
´Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type ´

[2019-12-06 00:01] coolhome commented on #5
I had issues when using preview without install visual studio 16.4 preview. Try installing visual studio 16.4 with the official release?

[2019-12-06 10:05] hiiru commented on #32
I also have this issue with .NET Core 3.1 and Microsoft.Extensions.* 3.1.0 packages.
It only occurs if `[assembly: FunctionsStartup(typeof(Startup))]` is set (or `[assembly: WebJobsStartup(typeof(Startup))]` when using the WebJobs SDK to configure DI).

I think it's a similar issue as https://github.com/Azure/azure-functions-dotnet-extensions/issues/29 back with .NET Core 3.0.

My current workarou

[2019-12-10 00:14] eliashdezr commented on #5
I'm still getting the following error while trying to do a `GET` on a `HttpTrigger` function:

` Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type`

This is my current setup:
 - `Visual Studio 16.5.0 Preview 1`
 - `azure-functions-core-tools@3.0.1740`
 - `npm@v13.2.0`

And this is my `.csproj`
[code]

`Startup.cs` file:
[code]

`local.settings.json`
[code]

[2019-12-10 00:16] eliashdezr commented on #32
I]m getting a similar error while trying to do a `GET` on a `HttpTrigger` function:

` Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type`

This is my current setup:
 - `Visual Studio 16.5.0 Preview 1`
 - `azure-functions-core-tools@3.0.1740`
 - `npm@v13.2.0`

And this is my `.csproj`
[code]

`Startup.cs` file:
[code]

`local.settings.json`
[code]

`host.json

[2019-12-11 17:10] IGx89 commented on #32
Also just ran into this issue upgrading a working function app from v3-preview/ASP.NET Core 3.0 to v3/ASP.NET Core 3.1. Guess we're not upgrading to 3.1 yet!

[2019-12-11 17:35] IGx89 commented on #32
FYI I fixed my issue updating azure-functions-core-tools from 3.0.1740 to 3.0.1975. It just came out two days ago.

[2019-12-12 03:40] eliashdezr commented on #32
Same error, with `azure-functions-core-tools@3.0.1975` issue doesn't go away.

[2019-12-12 07:54] StefanSchoof commented on #32
Updating to 3.0.1975 solved this for me also. But only if I start the function from command line. Starting in Visual Studio the error still occurs. I think VS has an older version of the runtime , which still is on dotnet core 3.0, bundled.

[2019-12-14 01:31] eliashdezr commented on #32
That resolved my issue too.

[2019-12-16 22:16] wtt235-bh commented on #5
This seems like it could also be related to https://github.com/Azure/azure-functions-host/issues/5401.

[2020-01-06 20:20] AdrianPell commented on #9
@jeffhollan Any thoughts on this one?

[2020-01-08 16:50] f2calv commented on #29
Not entirely sure this issue is 100% fixed, my Functions app csproj looks as follows;

[code]
Yet I get the same error message;

I fixed it in the same manner as above, one of my class libraries (a shared dependency) used the following;
[code]
When I removed those dependencies DI worked as expected...

[2020-01-08 23:45] fabiocav commented on #31
@marcduiker apologies for the delay on the response.

Yes! We'll do that moving forward. We'll also work on having a release here for the current version.

[2020-01-08 23:45] #31 closed

[2020-01-08 23:47] fabiocav commented on #32
@FrankGagnon can you validate with the latest version and let us know if this is still an issue?

[2020-01-08 23:51] fabiocav commented on #5
Closing this issue as there is a mix of different problems tracked here, and they should be resolved with the release of Azure Functions 3.0 (many of the issues here are related to running on Azure Functions 2.0 while targeting .NET Core 3.0).

If you continue to have issues, please open a new issue with details and we'll investigate them. Thank you!

[2020-01-08 23:51] #5 closed

[2020-01-08 23:52] fabiocav commented on #6
No. Those are different packages, with different functionality. The WebJobs extensions package is primarily for binding extensions.

[2020-01-08 23:52] #6 closed

[2020-01-08 23:54] fabiocav commented on #9
This is not currently supported or planned. There is some future work that may enable some of these capabilities, but that is not in the immediate roadmap.

[2020-01-08 23:54] #9 closed

[2020-01-08 23:54] fabiocav commented on #7
Indeed. Closing as answered, but let us know if you continue to run into issues.

[2020-01-08 23:54] #7 closed

[2020-01-14 16:41] laurentlbm-rc commented on #32
I am not getting this error when developing, but I am when the function is published to Azure:

Here is my .csproj:
[code]

[2020-01-14 18:36] fabiocav commented on #32
@laurentlbm-rc is your Function App version on Azure set to 3.0? (~3)?

Can you please share an invocation ID, region and timeframe so we can look at some details?

[2020-01-14 18:44] laurentlbm-rc commented on #32
@fabiocav Ah, I feel stupid, that was the issue, it's working fine now. I'm not the one who created the function app and I didn't think to look at that.

[2020-01-14 23:25] robertracz commented on #32
I am having the same issue in production:

Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()'.

Everything is fine locally, however in the function app i am getting the same exception on startup. My Function App is referencing two `netstandard2.1` libraries which might has to do something with it... FUNCTIONS_EXTENSION_VERSION is set ti ~3.

Function app

[2020-01-16 13:45] itorian commented on #32
Same issue when upgraded from netcoreapp3.0 to netcoreapp3, when i run it locally i get below error:
[code]
I've following packages and settings in place
[code]
Then I create a brand new project and moved all my *.cs files one by one and i was able to run it locally. So I have no idea, why above error appeared, during troubleshooting I cleared all bin and obj, and couple of other things and no suc

[2020-01-22 14:21] OneCyrus opened #34 "dependency injection exception instead of null"
we try to add azure functions support to a graphql library which usually runs in asp.net core. this library strongly builds on top of the microsoft dependency injection. a lot of things work very smoothly but there are some issues with the way this extension throws exceptions instead of returning null.

i created a reproduction which demonstrates this issue. the code is at https://github.com/OneCy

[2020-01-22 14:26] OneCyrus commented on #34
the specification of IServiceProvider defines it as follow:

https://docs.microsoft.com/en-us/dotnet/api/system.iserviceprovider.getservice?view=netcore-3.1

[2020-01-23 08:21] OneCyrus commented on #34
another strange thing is the dependency on `Microsoft.Extensions.DependencyInjection` here: https://github.com/Azure/azure-functions-dotnet-extensions/blob/ce4e8c43ed6372e0b14958128df79baa08abcf6d/src/Extensions/Extensions.csproj#L28

this is actually not used at all. the DI is based on a custom DI implementation in the azure functions host.

[2020-01-23 10:18] kevinbrydon commented on #29
For anyone still having issues. What worked for me was changing the AzureFunctions entry in my projct file from `v2` to `v3`

My project file now looks like this

[code]

All my referenced projects are `netstandard2.1`

Hope that helps

[2020-01-23 10:19] kevinbrydon commented on #32
For anyone still having issues. What worked for me was changing the AzureFunctions entry in my projct file from `v2` to `v3`

My project file now looks like this

[code]

All my referenced projects are `netstandard2.1`

Hope that helps

[2020-01-23 13:14] kevinbrydon commented on #29
I have also fixed in azure. Turns out the version of the function was also set to v2 within azure.

To change it. Open function in the azure portal. Go to the Function settings (Platform Features > General Settings > Function app settings). There should be a "runtime version" setting group which you can change the runtime from v1, v2 and v3. I set it to v3.

[2020-01-28 07:20] moklas commented on #32
@kevinbrydon thanks for the tip regarding AzureFunctionsVersion in the project file.

[2020-01-29 05:50] eliashdezr commented on #32
I'm still having my issue described above:
https://github.com/Azure/azure-functions-dotnet-extensions/issues/32#issuecomment-563500223

Only when I run the function with the cli `func start --build` works.

@fabiocav Is there some action already to make it work with Visual Studio again? I'm using the latest VS preview version.

[2020-01-29 06:07] StefanSchoof commented on #32
I do not expires this bug any longer. @eliashdezr which value do you have at AzureFunctionsVersion in your csproj? v3 or v3-preview? If you still have v3-preview try to update to v3.

[2020-01-29 06:35] eliashdezr commented on #32
This is my `csproj` file:

[code]

And this is the installed runtime versions from the command line:
[code]

[2020-01-30 22:35] JohnGalt1717 commented on #29
My project file is set to:

<TargetFramework>netcoreapp3.1</TargetFramework>		<AzureFunctionsVersion>v3</AzureFunctionsVersion>

Per the above and locally I still get the error:

ethod not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()'.
Value cannot be null.
Parameter name: provider

[2020-01-30 22:46] JohnGalt1717 commented on #32
Same issue here, My project file is set to:

netcoreapp3.1 v3

Per the above and locally I still get the error:

ethod not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()'.
Value cannot be null.
Parameter name: provider

dotnet --version: 3.1.101
func --version: 2.7.1948 (latest that I

[2020-01-30 23:01] JohnGalt1717 opened #35 "Adding AspNetCore.Identity packages causes runtime error"
<PackageReference Include="Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="3.1.1" />
(or any other package)

Cause the following as soon asi t's included in a Azure Functions V3 project. (litterally created new from vs code set to v3 using C#)

The 'HttpTriggerCSharp' function is in error: Microsoft.Azure.WebJobs.Host: Error indexing method 'HttpTriggerCSharp'. Microsoft.Azure.WebJobs.

[2020-01-31 00:44] leighghunt commented on #29
Just going to leave this here, as I've spent the last few hours trying to solve this myself, and found it was not code related but environment related, and to do with the [azure-functions-core-tools](https://github.com/Azure/azure-functions-dotnet-extensions) tooling version I had being 2, rather than 3.

More details incase it helps anyone else save some time - on a Mac but I imagine it will be t

[2020-01-31 00:48] leighghunt commented on #32
Just going to leave this here, as I've spent the last few hours trying to solve this myself, and found it was not code related but environment related, and to do with the [azure-functions-core-tools](https://github.com/Azure/azure-functions-dotnet-extensions) tooling version I had being 2, rather than 3.

(Thanks to @IGx89 and others for tooling comments that caused me to focus on that)

More deta

[2020-01-31 00:51] JohnGalt1717 commented on #32
Anyone know how to get the v3 version on Ubuntu?  I can't even find the manual installer from the releases page for it.

[2020-01-31 00:53] leighghunt commented on #32
Hi @eliashdezr - see my comment at https://github.com/Azure/azure-functions-dotnet-extensions/issues/29#issuecomment-580529424 - try updating your version of Azure Function Core Tools and see if that resolves it?

[2020-01-31 00:54] JohnGalt1717 commented on #32
@leighghunt I'd love to. Can't find out how to get the v3 version on linux.  Heck, the tools git release page doesn't even list V3.

[2020-01-31 01:03] leighghunt commented on #29
@JohnGalt1717 try updating your version of azure-function-core-tools to v3+.

For my project - v2:
[code]

v3:
[code]

[2020-01-31 01:08] leighghunt commented on #32
Hi @JohnGalt1717, I'm guessing here, but try this:

[code]

[2020-01-31 02:44] JohnGalt1717 commented on #32
@leighghunt Doesn't work :<

[2020-01-31 06:33] plazav commented on #32
I have the same issue with ASP.NET Core 3.1 application. It is works locally, but doesn't when it is published. It is published to Azure functions with Azure DevOps pipeline, but I can also publish it from VS 2019.
Runtime version is set to ~3
WEBSITE_WEBDEPLOY_USE_SCM is set to false
All packages are updated to latest stable version (3.1.1).

I have tried downgrade to 3.0 without any results.
hos

[2020-01-31 07:39] kevinbrydon commented on #32
@plazav Can you ensure the following things

Your `.csproj` file `PropoertyGroup` looks like this

    ...
    <PropertyGroup>
        <TargetFramework>netcoreapp3.1</TargetFramework>
        <AzureFunctionsVersion>v3</AzureFunctionsVersion>
    </PropertyGroup>
    ...

Your host.json should be

    {
        "version": "2.0"
    }

In Azure Portal, your functions `Runtime version` is set to `~3`

[2020-01-31 08:51] plazav commented on #32
Hi @kevinbrydon, The settings that you have provided are correct.
I have just recreated Function App (with new application name) and even have updated it to version 3 before publishing, but result is still same.
Application is running on Linux and App Service Plan is used (not consumption plan), but I don't think that it could play any role.

[2020-01-31 09:12] kevinbrydon commented on #32
@plazav Just to be clear. You're having the `Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()` issue and not the Ubuntu issues? You're developing on a windows 10 machine?

Currently the only difference between me and you is that I am using the consumption plan.

If you are ab

[2020-01-31 09:30] plazav commented on #32
@kevinbrydon Yes, I am having the issue
"Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Extensions.DependencyInjection.OptionsConfigurationServiceCollectionExtensions.Configure(Microsoft.Extensions.DependencyInjection.IServiceCollection, Microsoft.Extensions.Configuration.IConfiguration)'."

And yes, I am developing on Windows 10.
Can provide some parts of

[2020-01-31 09:47] kevinbrydon commented on #32
@plazav That error you are getting is different to the one being discussed in this thread. I don't think any of the solutions posted will help you. If it was me, I'd start from scratch. Simple function, no constructor, empty Startup (or a `public override void Configure(IFunctionsHostBuilder builder)` that does nothing) and try publish that. If it works, build it up from there until you hit the er

[2020-01-31 12:28] JohnGalt1717 commented on #32
@kevinbrydon  @plazav  The bug you're getting is documented elsewhere and prevents overwritting IConfiguration within DI for things like loading Azure Keyvault.  Do a search and you'll find the topic.  Worked in 2.1, doesn't work in 3.1. There's a VERY ugly work around.

[2020-01-31 12:47] JohnGalt1717 commented on #29
You can't on Linux:

apt-cache policy azure-functions-core-tools
[sudo] password for jhancock:
azure-functions-core-tools:
  Installed: 2.7.1948-1
  Candidate: 2.7.1948-1
  Version table:
 *** 2.7.1948-1 100
        100 /var/lib/dpkg/status

As far as I can tell there's no way of grabbing it.  Considering doing a manual install.  The instructions don't tell you how to get the v3 release either, wh

[2020-01-31 18:37] JohnGalt1717 commented on #29
So I hack this.  IF you download the zip file you can extract it into a directory and then do the following:

sudo cp -r ./* /lib/azure-functions-core-tools/

This should overwrite all of the files that are in there and then func --v should give you 3.0.2009 I believe and then everything is right with the world.

But the Azure Functions team needs to have betas in a .deb somewhere so that we can s

[2020-01-31 18:44] paulbatum commented on #29
It sounds like there is a packaging issue with core tools being discussed here? If so we probably need to move this conversation to a new issue in https://github.com/Azure/azure-functions-core-tools

@ahmelsayed can you take a look at the above discussion?

[2020-01-31 21:32] ahmelsayed commented on #29
v3 is only available on npm with `@preview` and homebrew with `@3`, but not on choco or APT sources yet. I think @ankitkumarr and @yojagad were waiting on the release until other tooling/ux updates but I'm not too sure about the current status. We can follow up on the core tools repo Paul linked to above

[2020-02-04 17:13] linzomsft commented on #32
Do you mind share What is work around? Thanks!

@plazav i am getting exactly the same issue you are getting during publish, nerver found it to be an issue running at my local environment.

[2020-02-04 23:35] leighghunt commented on #32
Hi @JohnGalt1717, I managed to get v3 of `func` working in a Ubuntu container.

I've tested this in a vanilla docker container (bionic image, so it's 18.04), so this should cover everything needed, and many steps probably not needed for you - just the last few.

I fire up the container like so:
[code]

Then, in that session, I run the following:
[code]

## More info:
- No apt-get cache, so update

[2020-02-05 13:30] JohnGalt1717 commented on #32
@leighghunt Thanks. That's ultimately what I ended up doing too.  It's really ugly and the only platform that makes you go through such hoops.

And if you look at the official approach, it's also at least 1 version of V2 behind for over a week as well.

This needs to be addressed so that packages are both released at the same time as everyone else gets them, and there's an easy and managed way to

[2020-02-12 17:00] #32 closed

[2020-02-12 17:11] eliashdezr commented on #32
This should not be closed...

[2020-02-12 17:17] JohnGalt1717 commented on #32
Ya, this should be reopened because the issue is still there: This needs to be addressed by the team so that it's possible to actually get these on linux etc.

[2020-02-17 06:14] VQuery commented on #32
Issue still exists in latest version.

[2020-02-17 21:42] jeffhollan commented on #32
Reading through this issue, I think one of the problems is there seems to be a lot going on here.  Everything from needing to make sure you are setting to ~3 in the cloud, using the v3 version of the core tools, and an updated version of the host that went out a few weeks back.  I’m not saying there aren’t valid issues occurring, the the original post very likely could be resolved by one of those

[2020-02-18 00:41] eliashdezr opened #36 "Remaining incompatibility issues with .NET Core 3 and DependencyInjection"
Taking @jeffhollan's [words](https://github.com/Azure/azure-functions-dotnet-extensions/issues/32#issuecomment-587167920) into action, this is the main issue I've seen not only on my personal projects, but elsewhere too.

### Error while running the functions via Visual Studio:
` Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type`

### Error while deployed on

[2020-02-25 18:28] JohnGalt1717 commented on #29
@ahmelsayed That's the problem. None of that works for Linux and there is no way to get preview releases on linux.  They need to address this and get a plan for how to install preview releases on linux without having to manually do it.

[2020-02-25 18:46] leighghunt commented on #29
Just posting a clunky workaround until this gets fixed if you need v3 on Linux - posted as an earlier comment on a thread between @JohnGalt1717 and me:

**TL;DR**
[code]

**Slightly longer version:**
https://github.com/Azure/azure-functions-dotnet-extensions/issues/32#issuecomment-582168505

[2020-03-03 14:50] kuromukira opened #37 "Getting error after update of SDK.Functions to 3.0.5"
It was working fine the other night until I updated `Microsoft.NET.SDK.Functions` nuget package to 3.0.4
Currently getting the error `Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type while trying to activate function`

### My Setup:
MacOS 10.15.3
.NET Core 3.1.102
Visual Studio Code
func cli 3.0.2245

### Related
As pointed out in #36 , `func start --build`

[2020-03-04 14:44] mchudinov opened #38 "Error "The binding type(s) 'blobTrigger' are not registered." after update of SDK.Functions to 3.0.4"
Getting en error "_The binding type(s) 'blobTrigger' are not registered. Please ensure the type is correct and the binding extension is installed._"
after update of SDK.Functions to 3.0.4.
Even a most simple setup like this fails:
[code]

[2020-03-04 23:10] MichalKosowski commented on #32
Hi,

How about running
`sudo apt-get install azure-functions-core-tools-3`

That fixed the problem for me for Ubuntu on WSL (found this here: https://github.com/Azure/azure-functions-core-tools)

[2020-03-04 23:29] leighghunt commented on #32
Sweet - this now appears to be running, follwing https://github.com/Azure/azure-functions-core-tools/commit/3f2771101d72615dcb46bbd1edc529489b1f2a0c

My earlier test in docker container is now much shorter:
[code]

In that session:
[code]

The running `func`:
[code]

[2020-03-05 01:35] eliashdezr commented on #32
I posted a sample to reproduce the DependencyInjection error with the minimum stuff here:

https://github.com/Azure/azure-functions-dotnet-extensions/issues/36#issuecomment-594979004

[2020-03-05 12:57] JohnGalt1717 commented on #32
@leighghunt As previously stated, that works NOW because the final version has been released. The issue is that pre-releases cannot be pulled any other way but manually right now and it needs to be corrected so that Linux has parity with Windows and Mac.

[2020-03-05 14:27] Coops9 commented on #36
This may help to debug the problem, I was having this exact issue and when comparing extensions.json after the upgrade to 3.0.4 it looked like this (missing any startup references)

[code]

[2020-03-05 15:07] hwagterveld commented on #38
Downgrading SDK.Functions to 3.0.3 fixes this problem. Still wondering why a minor version upgrade results in this error.

[2020-03-06 08:55] mchudinov commented on #38
A new version SDK.Functions 3.0.**5** has just been shipped. It fixes this problem.

[2020-03-06 08:55] #38 closed

[2020-03-16 20:23] uranio-235 opened #39 "example does not work"
I came here from

https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

The related example does not work with the following error:

[code]

The error looks like this

[code]

This is my startup

[code]

An this is the related funcion:

[code]

[2020-03-22 10:18] adam84luong commented on #29
If you encountered this issue when running an azure function project from VS2019 Community on **MacOS**, that because the AzureFunctionTools that is shipped with VS2019CE still stay in v2.

You need to replace azure-functions-cli by one of its v3

The path as following (in Finder)

visualstudio > package content > resource > monodevelop > Addins > MonoDevelop.AzureFunctions > azure-functions-cli

[2020-03-28 16:05] stap123 commented on #20
@avoxm Did you ever find a solution to this?

[2020-03-31 10:27] avoxm commented on #20
I end up creating something like a factory, that will get the id form the message and create the repository.

[2020-04-02 17:47] nolanegly opened #40 "DI sample code works when Function App is v2 but not v3"
I cannot get dependency injection to work in Azure Functions (documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection)) using a v3 Function App with .NET Core 3.1. (it will work locally but fails when deployed to Azure) The **exact same code** does work when deployed to a v2 Function App with .NET Core 2.1. The [test code](https://github.co

[2020-04-03 06:11] MedAnd commented on #37
Hi @jeffhollan, also getting this issue and cannot wire-up DI... any help appreciated!

VisualStudio.16.Release/16.5.2+29926.136
ASP.NET and Web Tools 2019   16.5.236.49856
Azure Functions and Web Jobs Tools   16.5.236.49856

[2020-04-03 06:23] MedAnd commented on #37
In case it helps & an update to above... seems something was screwed up with cached files in VS 2019... after doing:

dotnet add package Microsoft.Azure.Functions.Extensions --version 1.0.0
dotnet add package Microsoft.NET.Sdk.Functions --version 3.0.5

I now do not get the error.... even though I did the same thing in VS 2019 package manager UI.

[2020-04-12 14:42] galvesribeiro commented on #34
I completely agree this is totally wrong. If you inject the `IServiceProvider` and call `GetService()` it return null:

![image](https://user-images.githubusercontent.com/4714040/79071511-8116cf00-7cb2-11ea-816a-0bf63f8400dc.png)

With that in mind, I believe it is the host that is throwing and not the actual service provider...

[2020-04-12 14:42] galvesribeiro commented on #34
@fabiocav do you this issue should be opened on the Host repo or here?

[2020-04-23 18:28] HansOlavS opened #41 "Microsoft.NET.Sdk.Functions 3.0.6 publish skips lots of DLLs"
I just upgraded my Visual Studio Azure Function project to use Microsoft.NET.Sdk.Functions 3.0.6. It seems that DLL dependencies aren't copied to the output folder on publish.

**Here's the dependency list when publishing with 3.0.3:**
``ExcelDataReader.DataSet.dll
ExcelDataReader.dll
Isopoh.Cryptography.Argon2.dll
Isopoh.Cryptography.Blake2b.dll
Isopoh.Cryptography.SecureArray.dll
Microsoft.Appli

[2020-06-08 08:48] a-vishar opened #43 "async version of FunctionsStartup"
I have code which was written async first in my `FunctionsStartup.Configure` method.  I would rather not transition from sync to async and back again if I can avoid it.

Similar to the introduction of `async Main` methods, would it be possible to introduce an `async Configure` method in `FunctionsStartup`?

[2020-06-12 12:10] a-vishar commented on #43
@fabiocav - Is this repo no longer maintained?

[2020-06-17 12:58] a-vishar commented on #43
Any update on this?

[2020-07-07 21:56] a-vishar commented on #43
Any update on this?

[2020-07-08 17:51] fabiocav commented on #43
@a-vishar this is something we could consider, but don't have immediate plans to address.

Can you please share more details on your use case?

[2020-07-08 17:53] fabiocav commented on #41
This is by design. This provides a runtime and deployment optimization excluding platform specific assemblies. If you're running into a problem because of this behavior, can you please open a separate issue with those details? Thanks!

[2020-07-08 17:53] #41 closed

[2020-07-08 18:32] HansOlavS commented on #41
@fabiocav When I deploy to Azure it's not able to run because it's missing DLLs like Newtonsoft.Json.dll. That's not part of the platform specific assemblies, no?

[2020-07-08 18:39] fabiocav commented on #11
@brettsam can you share the link to the issue you're using to track the configuration support? We should be able to close this in favor of that issue, which should also be tracking documentation and samples updates.

[2020-07-08 18:42] brettsam opened #44 "Documentation and Samples for new IWebJobsConfigurationStartup support"
This is a tracking issue that will be updated with a link to documentation and samples once they are merged.

[2020-07-08 18:45] brettsam commented on #11
Let's use this to track docs and samples: https://github.com/Azure/azure-functions-dotnet-extensions/issues/44

[2020-07-08 18:45] #11 closed

[2020-07-10 15:50] jwadaptivity commented on #40
hey did you get a fix for this?

[2020-07-11 00:52] nolanegly commented on #40
No, I had to rewrite the functions to work without DI. Fortunately I only had about five before I discovered the issue. I would still love to use DI in future work though.

[2020-07-11 13:23] HansOlavS commented on #41
@fabiocav Here's the actual problem I'm facing:
Could not load file or assembly 'Microsoft.IdentityModel.Tokens, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.

This assembly is used by a service-layer project my app function is referencing and when I try to publish with a newer version of Microsoft.NET.Sdk.Functions than 3.0.3 this a

[2020-07-13 15:51] jwadaptivity opened #45 "UserSecretsId causing Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type X while attempting to activate Function.Y"
After publishing to Azure via VS2019 user secrets is populated as below
[code]

Which is causing
Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type 'Interface' while attempting to activate 'Function'
Only seems to occur for services injected into dependent class libraries (Common) in this case. Removing UserSecretsId and it works fine.

Full broken .csproj
[c

[2020-07-14 07:31] jwadaptivity commented on #40
@nolanegly I found <UserSecretsId> in .csproj cause this for me. No idea why

[2020-07-15 09:34] ModernRonin opened #46 "Question: Create Functions dynamically"
Hi,

I'm not certain whether this is the right place to ask, if not, please point me to in the right direction.

I find myself in a situation where I create a lot of functions that look like
[code]
or
[code]

As you can see I have already eliminated boilerplate as much as possible. However, because of the need to use attributes to register and bind the functions, I can go no further.

On the other

[2020-07-21 13:48] JKamsker commented on #43
Loading configurations from the blob storage or any kind of db on startup would be a(/my) use case. @fabiocav

[2020-07-22 20:09] fabiocav commented on #44
FYI, @anthonychu ; not sure if Brett has worked with you on this yet, but I'll reach out for context

[2020-07-23 19:29] pragnagopa commented on #12
Investigating.  Null ref is coming from the following:

[code]

[2020-07-30 20:12] pragnagopa commented on #12
More details on inner stack:
[code]
This issue does not repro when Target framework is set 2.2.

For functions v2, please update the project properties to:

[code]
and for V3:

[code]

[2020-07-30 20:12] #12 closed

[2020-08-04 10:53] RoyChase commented on #40
This looks to be very similar to #45 which looks to be caused by having a UserSecretsId in the csproj.  This is added in VS when setting up the publish profile to Azure.

@fabiocav is there a workaround or fix for this likely?

[2020-08-05 06:46] zhpeih commented on #45
I have encountered a similar problem without any errors, but the startup function is not executed. Removing UserSecretsId and it works fine.

[2020-08-05 20:11] fabiocav commented on #44
This is in progress.

[2020-08-13 14:04] fabiocav commented on #17
Custom configuration is supported with the preview package published with this release: https://github.com/Azure/azure-functions-dotnet-extensions/releases/tag/v1.1.0-preview1

Package: https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/1.1.0-preview1

You can also find some documentation on how to use the new feature here: https://github.com/Azure/azure-functions-dotnet-extension

[2020-08-13 14:18] fabiocav commented on #17
Closing this as resolved, but please let us know if you have any questions.

If you run into problems with the new functionality, please open a new issue with the details. Thanks for the patience with this!

[2020-08-13 14:18] #17 closed

[2020-08-25 15:15] brettsam commented on #44
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources

[2020-08-25 15:15] #44 closed

[2020-08-26 13:40] Absynthesis commented on #40
We have the same issue

- Works Locally
- Function V3, .NET CORE 3.1
- Multiple Triggers
- Service not found DI err
- We do not have UserSecretsId in the .csproj, but we do use a Keyvault Config.

Hoping for update soon on this. I rather not have to static all our services.

[2020-08-26 18:17] alexanderbikk commented on #15
hi @DaftDeveloper do you still get an issue in .net core 3.1?

[2020-08-30 12:14] HiroyukiSakoh commented on #44
@brettsam @fabiocav
To prioritize AppService-Settings as well as ASP.NET Core + Web Apps,
I think the implementation would look like this.
[code]

I think the sample should be modified.

[2020-08-30 18:23] anthonychu commented on #44
Thanks @HiroyukiSakoh. I've submitted a change to the doc sample to add environment variables last. Should be live in the next 24 hours.

[2020-09-10 14:44] IanKemp opened #50 "When will 1.1.0 final be released?"
Really looking forward to being able to use the [new features](https://github.com/Azure/azure-functions-dotnet-extensions/wiki/Configuration-and-FunctionsHostBuilderContext-support) - how long is it necessary to keep these in preview, considering that the requisite runtime versions have long been rolled out to all Azure customers?

[2020-09-11 20:07] jackbond commented on #50
Also waiting for non-preview release. :)

[2020-09-13 11:40] DabNote commented on #45
I had the same problem, after publishing my project to a Azure Function App a UserSecretsId was added to my project and my dependency injection stopped working.

Removing UserSecretsId and it started to work fine. But this wasn't a solution I was happy with.

I finally found I need to install Microsoft.Extensions.Configuration.UserSecrets and dependency injection started to work again. Makes sense

[2020-09-15 06:45] anthonychu commented on #50
Synced with @brettsam and @fabiocav today. Should be published soon!

[2020-09-15 17:56] fabiocav commented on #50
Assigning this to sprint 84 as a stretch goal. Sprint 84 ends tomorrow, so it's possible this will slip into the beginning of sprint 85.

[2020-09-15 18:20] jackbond commented on #50
How long are your sprints? :)

[2020-09-15 23:54] fabiocav commented on #50
Functions sprints are 2 weeks long. That will map to the milestone the issue is assigned to and each milestone has a due date set.

[2020-09-16 00:22] fabiocav commented on #37
@MedAnd interesting issue.

@kuromukira are you still seeing this problem? Thanks

[2020-09-16 00:25] fabiocav commented on #45
@jwadaptivity does the above step help with your issue as well?

[2020-09-16 12:48] a-vishar commented on #43
Prewarming (their api is async) a COSMOS client (as per their best practice doc) so that the connection is "live" for the first customer call on a premium function.

[2020-09-16 14:54] brettsam commented on #50
I've just published it: https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/1.1.0

[2020-09-16 14:54] #50 closed

[2020-09-16 14:55] jackbond commented on #50
Awesome! Thanks.

[2020-09-16 14:59] IanKemp commented on #50
yesssss

[2020-09-17 00:16] Socolin opened #51 "NullReferenceException with 1.1.0 (Value cannot be null. (Parameter 'webJobsBuilderContext')"
Hello,

After upgrading to the version 1.1.0 of `Microsoft.Azure.Functions.Extensions`  I'm getting a NullReferenceException when I try to start a function app from a Webjob project (I use this for starting the function app in tests)

Here a .zip with 2 projects to reproduce the problem
[repro.zip](https://github.com/Azure/azure-functions-dotnet-extensions/files/5235506/repro.zip)

[code]

The pro

[2020-09-19 15:39] NoahStahl opened #52 "Changelog / release notes"
Where can we find release notes for this library? I'm not seeing 1.1.0 documented. Thanks!

[2020-09-20 01:29] kuromukira commented on #37
@fabiocav sorry for late response. At the moment no, I have not encountered the issue. Closing this issue now. Thanks.

[2020-09-20 01:29] #37 closed

[2020-09-21 15:46] brettsam commented on #52
Good call. Just updated it: https://github.com/Azure/azure-functions-dotnet-extensions/releases

[2020-09-21 15:46] #52 closed

[2020-09-21 15:54] brettsam commented on #51
I'm investigating. To be clear, this is when trying to use a `FunctionsStartup` as the type for `UseWebJobsStartup<T>()`, correct? Your function app runs correctly, but this test does not?

[2020-09-21 16:03] brettsam commented on #51
Ahh, yes, we don't handle null context there. Workaround for now is for you to call this from your test:

`UseWebJobsStartup(typeof(Startup), new WebJobsBuilderContext(), NullLoggerFactory.Instance);`

[2020-09-21 16:14] brettsam commented on #43
@fabio -- wouldn't we ultimately have to wait for .NET Core to support async configuration to make it truly async? We could expose a `Task` here -- but we'd just have to call `.GetAwaiter().GetResult()` on it.

Example: https://github.com/dotnet/runtime/issues/36395, which shows that even the KeyVault config provider calls `.GetAwaiter().GetResult();`

[2020-09-21 19:44] Socolin commented on #51
That's right, the function app on it's own is working, but for testing purpose when I start it through the webjob sdk it fail.

Thanks for the workaround, I'll try it when I find some times.

[2020-09-21 20:56] fabiocav commented on #43
Currently, there would be no real benefit without proper support to make this truly asynchronous. We'll leave this open, but as stated above, this work will not be prioritized.

[2020-09-23 02:01] #45 closed

[2020-09-24 13:53] LayZeeDK commented on #51
I experienced a similar error when updating to `Microsoft.Azure.Functions.Extensions` version 1.1.0

What fixed issues in my case:
- Update .NET Core SDK to version 3.1.402.
- Update Azure Functions Core Tools to version 3.0.2881 or 3.0.2912.
- Update `Microsoft.Azure.WebJobs` to version 3.0.19.
- Update `Microsoft.Azure.WebJobs.Extensions.ServiceBus` to version 4.1.2.
- Update `Microsoft.NET.Sdk.

[2020-09-25 14:02] brettsam commented on #51
@LayZeeDK -- Moving the Core Tools is likely what fixed it for you. The docs on the new features in 1.1.0 call out that you need a newer version of the Host, but I realize that's not entirely clear unless you happened to go look up the release notes for 1.1.0. Linking them here for anyone else that comes across this.
- https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-depende

[2020-09-25 15:36] doublej974 commented on #51
Hi @brettsam. I try all what was mentionned in @LayZeeDK post but for me didn't solve the issue.

and don't find where to put UseWebJobsStartup(typeof(Startup), new WebJobsBuilderContext(), NullLoggerFactory.Instance);

Can you help?

Thanks

`
[assembly: FunctionsStartup(typeof(SecPermCtrl.Startup))]
namespace SecPermCtrl
{
    /////////////////////////////////////////////////////
    /// class S

[2020-10-04 14:04] Arash-Sabet opened #53 "Azure function v3 fails to start up in Visual Studio 2019 for Mac when using Microsoft.Azure.Functions.Extensions.DependencyInjection"
The issue is perfectly reproducible by cloning [this repository](https://github.com/Arash-Sabet/azure-function-di-issue) and running the solution in Visual Studio 2019 for Mac.

When the function starts up the following information is displayed on Terminal:

Further system info:

[2020-10-05 12:32] i9hdkill commented on #51
Updating Azure Functions Core Tools did the trick for me aswell

[2020-10-05 22:12] Arash-Sabet commented on #53
@anthonychu Could you please have this issue looked into? It's a kind of blocker for Mac users. Thanks.

[2020-10-06 07:19] anthonychu commented on #53
Does `func start` in the terminal work?

[2020-10-06 11:25] Arash-Sabet commented on #53
@anthonychu No, it doesn't.

[2020-10-06 17:27] paulbatum commented on #53
You need to be on a newer version of core tools to be able to use the DI feature. Ideally you would be running on core tools version 3.0.2931 but instead you're on 3.0.2358, which is from March. I confirmed this is the problem by downloading your version of core tools and running the functon app - it gave me the same error.

I am not sure how core tools updates are managed in the VS for Mac case.

[2020-10-06 17:33] Arash-Sabet commented on #53
@paulbatum Apparently the issue resides in VS 2019 for Mac because I installed VS on a fresh Mac OS without running ```brew```. I think it makes perfect sense to involve the team who takes care of Visual Studio Mac. Are they on github to CC them?

[2020-10-06 17:37] paulbatum commented on #53
I am not sure. You might need to go through the technical support option available here:
https://visualstudio.microsoft.com/vs/support/mac/

I'll close this issue as we've confirmed its not a problem with the Microsoft.Azure.Functions.Extensions NuGet package (this repo).

[2020-10-06 17:37] #53 closed

[2020-10-06 17:38] Arash-Sabet commented on #53
@paulbatum Yes, closing this issue makes sense. I will be reporting it to the technical support team.

[2020-10-07 08:16] mrward commented on #53
Visual Studio for Mac will use brew installed Azure Functions if it is later than the one it ships itself.

Also you can update the Azure Functions sdk (from the feed) from the New Project dialog - Cloud - General - Azure Functions, by clicking the Updated templates available button. Both these require a restart.

![image](https://user-images.githubusercontent.com/372361/95305249-a1000780-087d-11e

[2020-10-08 02:19] afetter opened #54 "Could not load type 'Microsoft.Azure.WebJobs.Hosting.IWebJobsStartup2'"
When I install azure-functions-dotnet-extensions to be able to do a Startup class.

The error i got is:

System.Private.CoreLib: Could not load type 'Microsoft.Azure.WebJobs.Hosting.IWebJobsStartup2' from assembly 'Microsoft.Azure.WebJobs.Host, Version=3.0.17.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'

But the project reference is poiting to 3.0.18.0.

![image](https://user-images.github

[2020-10-08 17:52] sowmini commented on #54
Facing the same issue on Mac.

 [
<img width="350" alt="Screen Shot 2020-10-08 at 1 52 24 PM" src="https://user-images.githubusercontent.com/122519/95495494-85742a00-096d-11eb-900d-974da8a7fbf9.png">
](url)

[2020-10-08 20:15] afetter commented on #54
I tested the exact same code on Windows 10 and it works fine. Also, I publish it to azure, and it works as well.

[2020-10-08 20:53] sowmini commented on #54
I was able to fix the issue after downgrading the 'Azure.Functions.Extensions' package to 1.0.0. Give it a shot!

[2020-10-15 08:59] viniciuschiele commented on #54
I'm also facing this issue on mac, I have installed `Azure Functions Core Tools` version `3.0.2931`.

It does work when I run `func start` in the terminal.

[2020-10-22 20:15] ruslanss opened #55 "Registering implementation type X is not assignable to service type IX when using Generics"
is this a known issue limitation?

I have added code to reproduce it here: https://github.com/ruslanss/azure-functions-dotnet-extensions/tree/service_registration_bug

this type of service registration doesn't appear to be supported:

`builder.Services.AddSingleton<IValidator<WhateverCommand>, NullValidator>();`

Error on host startup:

[2020-10-28 02:01] abjoseph commented on #54
I'm also facing this issue on Windows 10, using both Visual Studio 2019 and VSCode. Additionally, VSCode fails silently and doesn't even show the error.

I can confirm that this bug was introduce in version 1.1.0 of Microsoft.Azure.Functions.Extensions and that downgrading to 1.0.0 removes the issue.

[2020-11-04 14:25] wterpstra commented on #54
Is there any other workaround then downgrading Microsoft.Azure.Functions.Extensions from 1.1.0 to 1.0.0? I need to be able to modify the IConfigurationBuilder and access my configuration from my Startup class which is not possible with 1.0.0.

[2020-11-04 22:47] kashimiz commented on #51
Hi @Socolin, it looks like this has been fixed with the latest Core Tools release. Could you upgrade and let us know if you're still experiencing this issue?

[2020-11-11 05:12] aandino-dev commented on #54
Hi @wterpstra

I only have the issue running from Visual Studio. The terminal and Visual Studio are giving me distinct versions.  From terminal no issues running `funct start`

From Visual Studio

Terminal

[2020-11-12 02:00] #51 closed

[2020-11-18 10:37] rochapablo commented on #54
Downgrade to 1.0.0 but still got the error.

[2020-11-23 11:02] chrizzo84 commented on #54
I only have that error when trying to debug in VS for Mac => When starting with "func start" in Terminal it is working fine with 1.1.0.
When downgrading to 1.0.0 it is also working in VS for Mac.

[2020-12-01 10:53] MhAllan opened #56 "[FEATURE REQ] Fluent Strongly Typed Context"
We have two problems with C# sdk
1- It is not strongly typed
2- It is unreadable, long methods and too much attributes

Suggestion suppose people to put Activities in interface or class. the the IDurableOrchestrationContext should be able to produce proxy for strongly typed methods

let's instead of

[code]
We should be able to do:
[code]

Will be great

[2020-12-01 14:29] MhAllan opened #57 "[Feature] Remove local.settings.json and be consistent with how AspNet Core work"
Remove local.settings.json and be consistent with how AspNet Core work

[2020-12-01 14:31] MhAllan opened #58 "[Question] How to use appsetting.json values in a trigger?"
I knew we can use appsettings.json in azure function, but I don't know how can I make the trigger read the values from this file.

simply, I want the trigger to read from appsettings.development.json instead of local.settings.json because I keep switching between WebApp and Azure Function.

so I want to do this

[code]

[2020-12-04 11:05] realrubberduckdev commented on #54
I just installed the latest azure-functions-core-tools and I do not get this load error anymore.

[code]
[code]

[2020-12-10 05:26] Socolin commented on #51
Hello,

I still have the same problem. I don't understand why you are speaking about the Core Tools, since the example and the repro is run as a Webjob so it does not use this.

[2020-12-11 12:11] LayZeeDK commented on #51
Azure Functions use web jobs for startup, host context, and more.

[2020-12-29 05:16] prashanthsarma commented on #54
For me npm install didn't work as the VStudio Mac was still using files from
 /Applications/Visual Studio.app/Contents/Resources/lib/monodevelop/AddIns/MonoDevelop.AzureFunctions/azure-functions-cli which had version as:
So, I manually duplicated the folder for falling back and copied new dlls from the npm or homebrew install at /usr/local/lib/node_modules/azure-functions-core-tools/bin

I have no

[2021-01-08 14:52] GCoding83 opened #59 "DependencyInjection stops working when we add User Secrets (Error: "Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve [injected service] while attempting to activate [function])"
I know this issue was already discussed here: https://github.com/Azure/azure-functions-dotnet-extensions/issues/45, but the issue should not have been closed. The person in that thread mentioned that they solved their problem by simply installing Microsoft.Extensions.Configuration.UserSecrets, but I personally have that package installed. As soon as I installed it, my Dependency Injection stopped

[2021-01-12 14:13] sonic1981 opened #60 "Upgrading Microsoft.Extensions.DependencyInjection.Abstractions to latest version (5.0.0) breaks DI"
Is there a reason this package references such an old version of the DI extensions?

This package references `2.1.0`:

[code]

when the latest version of this [package is 5.0.1](https://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection). 2.1.0 is from 2018!

I had a transitive dependency to this package and upgraded it as it was out of date and this seems to have broken DI.

Can this

[2021-01-13 00:43] ubirajaramnj commented on #39
I following the same instructions and I got the error:

Could not load file or assembly 'Microsoft.Extensions.DependencyInjection.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. O sistema não pode encontrar o arquivo especificado.
Value cannot be null. (Parameter 'provider')

Nothing can solve it.

[2021-01-14 13:05] #60 closed

[2021-01-14 13:05] sonic1981 commented on #60
Seems that this is a compatibility issue. it seems that version 5 is targetting .Net 5 and my app was .Net Core 3.1. So I needed to use the 3.x version.

[2021-01-14 14:50] #59 closed

[2021-02-10 14:50] Glorfindel83 commented on #54
A colleague of mine had this issue as well; it turns out it's possible to update the Core Tools used by Visual Studio for Mac by updating the list of *templates* you have when creating a new Azure Function in your solution/project. Credits to Stack Overflow user @MattWard [here](https://stackoverflow.com/a/55431350/4751173).

[2021-03-04 09:53] tidusjar opened #61 "[Feature Request] Specify Startup per function"
Hello,

I am wondering if it would be a good option to be able to specify or decorate a function to tell it which startup it should use.

The usecase of this is if we have a single function project which multiple functions inside, they are all related but some of these does not need any of the DI configuration some of the others have, so it would be nice to be able to provide a `FuncationAStartup`

[2021-03-10 12:04] jimmytricks commented on #30
@fabiocav, do you know if this first class way was implemented yet? I haven't been able to find any information on it, cheers!

[2021-04-12 04:06] rhythmnewt commented on #54
I can confirm after running into the same problem that Core Tools update from within Visual Studio for Mac (v8) solved it for me. It was not very obvious how to do the update.

You have to create a new project and select Azure Functions as project type then on the next screen "Configure your Azure Functions Project" there will be a small "refresh" icon under all the trigger templates. That's the b

[2021-05-05 15:11] camarandei commented on #54
In my case (Visual Studio, Version 16.9.4, Windows 10) I have solved this problem by renaming the folder _3.4.1_ (I couldn't remove it) from the path: _C:\Users\[User]\AppData\Local\AzureFunctionsTools\Releases_ . Then next time I have started my azure functions project, a new folder(_3.18.0_) was created on that path.

[2021-06-10 21:39] burtonr opened #62 "Dependency Injection not instantiating instances when using function.json rather than attributes"
I've created an Azure Function in C#, and attempting to utilize the dependency injection feature while also defining the Function parameters with a `function.json` file rather than the .net attributes so that I can use route parameters in the Function methods.

When I use the `HttpTrigger` and `FunctionName` attributes, the dependency injection works as expected. However, when I remove the attribu

[2021-06-18 12:11] JRyGithub commented on #54
In my case did as @rhythmnewt did above. I created a new project, when selecting the project type I clicked update templates. Then closed the project reopened my actual project and I was golden!

[2021-09-02 16:09] dhanore opened #63 "Url is missing from appinsights logs for requests if use FunctionStartup"
1. Run any number of load on sandbox
2. Go to appinsights -> Logs
3. Query for the following -
requests | where cloud_RoleName contains "test" | order by duration desc | project itemType, cloud_RoleName, url, appName, timestamp, name, cloud_RoleInstance.

What we have observed - If Startup class inherit IWebJobStartup then we are getting URL in appinsights logs for request, but if Startup class in

[2021-09-02 16:10] v-bbalaiagar commented on #63
Tagging @fabiocav / @brettsam , for further insights

[2021-09-07 14:27] dhanore commented on #63
Hi @v-bbalaiagar

Thank you for picking up this bug.
Hope you got a chance to review this bug. Would you please let me know the findings or fixes which you suggest to solve this bug on our side?

cc-  @fabiocav , @brettsam

[2021-09-10 14:53] rochapablo opened #64 "Error during startup when using SignalR.Client"
I have this Function that it's working and now I need to install `Microsoft.AspNetCore.SignalR.Client` as dependency. The problem is that after install and do all the settings, I'm not able to run the Function.

**This is how I'm running**
[code]

**The error I'm getting**
[code]

**Setup.cs**
[code]

**My Function**
[code]

**Service**
[code]

**.csproj**
[code]

[2021-09-17 06:40] dhanore commented on #63
Hi, Did you get a chance to look into this issue or any plan for upcoming days to give some feedback?.

[2021-09-24 06:50] dhanore commented on #63
Hi, I cannot see any status update and any comments on this issue. Could you please help me with the status or position of this issue. And I can see this issue has been transferred, could you please help me to identify the location of this issue here?

[2021-09-29 11:12] dhanore commented on #63
@v-bbalaiagar @fabiocav @brettsam - Can you please let me know what is the status of this issue and from where this issue has been transferred so I can see the status of it and any workaround for this issue as this is a priority task in our board?

[2021-09-30 00:22] fabiocav commented on #63
@dhanore would you mind sharing the full startup implementations for both cases (or a reduced repro) either here or in a repo?
Thank you!

[2021-09-30 08:01] dhanore commented on #63
@fabiocav  -

WebJobStartup code - which is not giving Url for request in appInsights

[code]

[2021-09-30 08:02] dhanore commented on #63
@fabiocav

Function Startup which is giving Url of Request in AppInsights

[code]

[2021-10-04 13:24] dhanore commented on #63
@fabiocav, @brettsam  - I have shared the code for both the files above (IWebJob and FunctionStartup). I hope this helps you and let us know if you find anything. Please let me know if you need any other assistance from my side.

[2021-10-05 15:27] MikeBecatti commented on #64
The following line adds console logging:
`builder.Services.AddLogging(options => options.AddConsole());`

If you do not want console logging remove the AddConsole() option. If you do want console logging then you must add the following nuget package: "[Microsoft.Extensions.Logging.Console](https://www.nuget.org/packages/Microsoft.Extensions.Logging.Console/)"

[2021-10-12 07:19] Sti2nd opened #65 "The Functions scale controller may not scale the following functions correctly because some configuration values were modified in an external startup class"
I get the following error in Azure when using version 1.1.0 (of Microsoft.Azure.Functions.Extensions):

[code]

This message is a warning locally, but an error on Azure that prevents the whole Function app from working.

The issue https://github.com/Azure/azure-functions-host/issues/6542 suggests that it is because on the Consumption plan the scale controller cannot access the environment variable

[2021-11-10 10:20] tangdaowan opened #66 "[Pls Help] Why DI doesn't work as expected when using Azure Function"
When I use Azure Function to do some work, there comes a problem. Here are some details:

Please refer to the code snippet below. I am using denpendency injection to achieve Inversion of Control between classes and their dependencies. I have a class named MessagingEventGridPublisher with 2 constuctors, whose params are MessagingEventGridPublisher's dependencies. During function startup, I have DI

[2021-11-12 12:24] toralux opened #67 "Dotnet 6 and Azure Functions V4"
Now that Dotnet 6 is GA and both supports Azure Functions with OutOfProcess (dotnet-isolated) used in Dotnet 5 and InProcess (dotnet) used in Dotnet Core 3.1, we again need support for Startup-class and Dependency Injection for InProcess Dotnet 6 Azure Functions.

Any plan to support Dotnet 6 InProcess and Azure Fuctions V4?

[2021-11-28 14:56] DureSameen commented on #54
I am on mac, I am facing same issue.

I have installed  3.~ latest version of azure-functions-core-tools.

brew tap azure/functions
brew install azure-functions-core-tools@3
brew link --overwrite azure-functions-core-tools@3

 and it gives me this message

Warning: azure/functions/azure-functions-core-tools@3 3.0.3904 is already installed and up-to-date.

But when i run visual studio for mac 2019

[2022-01-19 12:04] PhilippK13 commented on #67
Are there any updates on this? If I'm reading this correctly this will prevent us from migrating to .net 6 if we want to benefit from dependency injection and use in-proc functions at the same time.

[2022-01-20 09:30] dxynnez commented on #67
+1 here...I would love to use the out-of-process model (so that we don't rely on this package to do DI) but hey it doesn't support durable function which we heavily rely on...

This is just frustrating. I had to spend a noticeable amount of time trying to fill up all the missing pieces and gaps and only to find out although supporting net 6 has been claimed to be GA, it certainly is not.

[2022-03-08 22:38] jsep925 commented on #67
Same here....

[2022-03-17 14:22] HolisticDeveloper commented on #43
https://github.com/dotnet/aspnetcore/issues/24142 has some discussion for the same concern in ASP.NET Core startup which may be relevant to FunctionsStartup.

[2022-03-24 21:38] CasperWSchmidt opened #68 "Why is the context not available on IFunctionsHostBuilder, but on internal interface IFunctionsHostBuilderExt"
Hi there

I'm trying to do some testing to ensure that our functions will startup correctly, but instead of using Microsofts DI framework, we use SimpleInjector. To make sure that we can use services registered in both frameworks we use the approach described [here](https://docs.simpleinjector.org/en/latest/azurefunctionsintegration.html). In my tests, I want to call the method `Configure` to get

[2022-04-01 03:59] dxynnez commented on #67
Just some update here... So we tried using the v1.1.0 'Microsoft.Azure.Functions.Extensions' with function app (in-process mode) targeting net 6 and it seems to be working well so far.

[2022-05-10 07:47] marius-stanescu commented on #65
I am also facing a similar error when trying to load TimerTrigger configuration from Azure App Configuration.

[code]

[2022-05-23 18:46] CasperWSchmidt commented on #68
Still no answer to this? Is Azure Functions completely dead?

[2022-06-16 07:08] johnstaveley commented on #65
I have the same service bus error:

The Functions scale controller may not scale the following functions correctly because some configuration values were modified in an external startup class.
[2022-06-16T07:07:10.924Z]   Function 'ProcessJobs-Other' uses the modified key(s): ServiceBusConnectionString
[2022-06-16T07:07:10.925Z]   Function 'ProcessJobs-Selenium' uses the modified key(s): ServiceBu

[2022-06-20 11:09] CasperWSchmidt commented on #61
The startup is only triggered once the application boots (upon the first invocation of any function). This ensures that the work is only done once and it shouldn't be a problem for all functions to share the same configuration. If they are more distinct than related you could split them in multiple function applications and have the shared code as a NuGet package.

[2022-06-20 11:16] CasperWSchmidt commented on #68
@fabiocav @brettsam @anthonychu Has Microsoft completely stopped developing this? Looking at closed issues the latest was closed January 2021 and none of the recently opened issues has been answered (including this one).
It's not easy trusting Azure Functions in production when you get the feeling that MS does not prioritize it...

[2022-07-28 16:40] microsoft-github-policy-service[bot] opened #71 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-01 12:02] CasperWSchmidt commented on #68
This is truly a bad customer experience. more than 4 months without any kind of response! I guess Azure Functions are truly dead and we are forced to move to AWS or GCP to be taken seriously :(

[2022-08-29 14:27] mwiedemeyer commented on #65
Have the same issue with the TimerTrigger and schedule loaded from Azure App Configuration. Can you please provide an update on how to fix it (without using the "local" app settings for the schedule)

[2022-09-14 21:00] fabiocav commented on #65
@Sti2nd can you share your configuration injection defined in your startup? are you adding environment variables as a source by chance?

[2022-09-23 13:43] remiX- commented on #55
Hey Ruslanss, did you ever manage to resolve this? I'm having issues with this after updating my Function App from ~3 -> ~4 whilst migrating from DOTNETCORE|3.1 to DOTNET|6.0

[2022-09-26 11:18] ruslanss commented on #55
Hi @remiX- ! yes try downgrading Scrutor nuget package to v4.1.0 if you're using it.

[2022-09-26 18:30] remiX- commented on #55
Ah I'm not using it.

I had to resort to using Provider  in the Add and create the instance

Something like this, even if I didn't need it
`builder.Services.AddSingleton<IValidator<WhateverCommand>>(sp => new NullValidator());`

[2022-10-19 08:34] CasperWSchmidt commented on #68
Still nothing? This is impresive!

[2022-11-10 17:46] Gevil opened #72 "Incompatiblity with EF Core 7"
Greetings,

Today I tried upgrading our .NET 6 - Functions V4 projects to use the new EF Core 7 libraries.

The resulting exception is as follows on Startup:

Microsoft.Azure.Functions.Extensions: Method not found: 'Microsoft.Extensions.Configuration.IConfigurationBuilder Microsoft.Azure.WebJobs.Hosting.IWebJobsConfigurationBuilder.get_ConfigurationBuilder()'.
Value cannot be null. (Parameter 'pro

[2022-11-28 19:35] #71 closed